
.form1 label{
    padding-top: 2%;
    
}
.form1 input{
    margin-bottom: 10px;
}

.form1 {
    width: 100%;
    line-height: 2;
    border-bottom: 2px solid crimson;
    
    
        }
    .container{
        margin-top: 11%;
        
    }

.form1 input[type="email"]{
    width: 70%;
    

    
     border: 1px solid black;
     border-radius: 6px;

}
.form1 input[type="file"]{
    width: 70%;
    

    
     border: 1px solid black;
     border-radius: 6px;

}
.form1 input[type="text"]{
    width: 70%;
    border-radius: 6px;
    border: 1px solid black;

    
}
.form1 input[type="date"]{
    width: 70%;
    border-radius: 6px;
    border: 1px solid black;
    
}
.form1 input[type="number"]{
    width: 70%;
   /* height: 40%;*/
    border-radius: 6px;
     border: 1px solid black;
         
   
    
}
select{
    width: 70%;
    border-radius: 6px;
    border: 1px solid black;
}
.custom-select {
    position: relative;
    font-family: Arial;
    color: rgb(0, 4, 7);
  
  }
.form1{
    font-size: large;
    border-radius: 6px;
    line-height: 2;
    
    margin: auto;
    border: 6px solid rgb(243, 243, 243);
    /*padding: 30px 40px;
    -webkit-box-shadow: 11px 7px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 7px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 7px 21px 0px rgba(0,0,0,0.75);
    padding-left: 25%;*/
}

.sub {

    display: block;
    /*margin-left: 25%;*/
    font-weight: bold;
    color: rgb(9, 9, 9);
    width: 15%;
    background-color:#5bc0de;
    border:none;
    border-radius: 10px;
    margin-top: 6%;
    margin-bottom: 6%;


}
.deat{
    margin-top: 2.5%;
}
.sub:hover{
    background-color:#7aaeff ;


}
.sub:active {
    background-color:#407ede ;
    box-shadow: 0 5px #7aaeff ;
    transform: translateY(6px);

}
.clsi {
    margin-left: 10%;

}
.form1 label{
    font-weight: bold;
}
.form1 input[type="textarea"]{
    height: 75%;
    width: 70%;
    
    border-radius: 6px;
     border: 1px solid black;
   
}
.form1 p{
        padding-left: 54%;
}
.form1 img{
    height: 100px;
     width: 100px;
}
.form1 h1{
    margin-bottom: 27px;
}
.ha{
    width: 75%;
    margin: auto;
    margin-top: 6%;
}
